<link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
 
 <html>
  <h1>Welcome to Tic Tac Toe</h1>
  <body>
  <br>
  <br>
    <a href=/play>Click here to play a game</a>
  </body>
</html>

  